<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />

        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">       
           

        <div th:replace="~{fragments/navegation :: navegation}"></div>
        <div th:replace="~{fragments/navegation :: navegation_left}"></div>
        
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Reporte de Grupos</h1>

                <div class="card mb-4">
                    <div class="card-body">
                        ¿Desea agregar un grupo nuevo?
                        <div class="col-lg-3">
                            <a th:href="@{/nuevo_grupo}" class="btn btn-primary btn-sm mb3">Agregar grupo</a>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Tabla de grupos
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Año vigente</th>
                                    <th>Activo</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Código</th>
                                    <th>Año vigente</th>
                                    <th>Activo</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr th:each="grupos : ${grupos}">
                                    <td th:text="${grupos.codigo}">Código</td>
                                    <td th:text="${grupos.date}"> Año vigente</td>
                                    <td th:text="${grupos.activo} ? 'Activo' : 'Inactivo'">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{fragments/footer :: footer}"></div>
        <div th:replace="~{fragments/styles :: styles}"></div>
</body>

</html>