<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/header :: header}"></div>

<body class="sb-nav-fixed">
    <div th:replace="~{fragments/navegation :: navegation}"></div>
    <div th:replace="~{fragments/navegation :: navegation_left}"></div>

    



    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Reporte de usuario</h1>

                <div class="card mb-4">
                    <div class="card-body">
                        ¿Desea agregar más usuarios?
                        <div class="col-lg-3">
                            <a th:href="@{/register}" class="btn btn-primary btn-sm mb3">Agregar usuario</a>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Tabla de usuarios administrativos
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Primer Apellido</th>
                                    <th>Segundo Apellido</th>
                                    <th>Cédula</th>
                                    <th>Correo</th>
                                    <th>Role</th>
                                    <th>Activo</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Primer Apellido</th>
                                    <th>Segundo Apellido</th>
                                    <th>Cédula</th>
                                    <th>Correo</th>
                                    <th>Role</th>
                                    <th>Activo</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr th:each="usuarios : ${usuarios}">
                                    <td th:text="${usuarios.nombre}">Nombre</td>
                                    <td th:text="${usuarios.apellido1}">Primer Apellido</td>
                                    <td th:text="${usuarios.apellido2}">Segundo Apellido</td>
                                    <td th:text="${usuarios.cedula}">Cédula</td>
                                    <td th:text="${usuarios.email}">Correo</td>
                                    <td th:text="${usuarios.authority}">Role</td>
                                    <td th:text="${usuarios.enabled}">Activo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{fragments/footer :: footer}"></div>
        <div th:replace="~{fragments/styles :: styles}"></div>
</body>

</html>